# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pkl
*.egg-info/
*.egg

# -------------------------
# Virtual environments
# -------------------------
venv/
.env/
.venv/

# -------------------------
# Logs & cache
# -------------------------
*.log
*.out
*.err
*.sqlite3
*.db

# -------------------------
# Jupyter notebooks
# -------------------------
.ipynb_checkpoints

# -------------------------
# IDE/Editor files
# -------------------------
.vscode/
.idea/
*.swp

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Docker
# -------------------------
*.pid
*.seed
*.pid.lock
